@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:400,600,700,900|Roboto:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Code+Pro|Ubuntu+Mono');

@mixin code-font() {
  font-family: 'Inconsolata', 'Ubuntu Mono', 'Source Code Pro', monospace;
}

@mixin roboto-font($weight) {
  font-family: 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: $weight;
}

@mixin raleway-font($weight) {
  font-family: 'Raleway', 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: $weight;
}

@mixin chat-input-shadow {
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.10);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.10);
}

@mixin navbar-shadow {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

@mixin basic-button-style {
  color: $medium-gray;
  border: .5px solid $main-darkgray;
  border-radius: $border-radius;
  padding: $buttonlike-padding;
  cursor: pointer;
  background: transparent;
  @include roboto-font(400);
  letter-spacing: $letter-space;
}
