$dark-gray: #2F2F2F;
$dark-blue: #1D2126;
$accent-green: #0F9D58;
$main-darkgray: $dark-gray;
$main-darkblue: $dark-blue;

$letter-space: .5px;
$h1-fontsize: 22px;
$h2-fontsize: 16px;
$h3-fontsize: 14px;
$p-fontsize: 12px;
