@import "_variables";

@mixin navbar-shadow {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

// Dashboard Navbar
.dash_navbar {
  height: 45px;
  width: 100%;

  @include navbar-shadow;
  background-color: $main-darkgray;

  color: white;
  text-transform: uppercase;

  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

// Dashboard Cover
.dash_cover {
  position: relative;
  height: 350px;
  width: 100%;
  background-color: $main-darkblue;

  .cover-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), no-repeat;
    background-size: cover;
  }
}

// Dashboard Content
.dash_sidebar {
  width: 45px;
  height: 100%;
  background-color: $main-darkblue;
}
