@import "_variables";
@import "_mixins";

// Dashboard Navbar //////////////////////////////////////////////////////
.dash_navbar {
  height: 45px;
  width: 100%;

  @include navbar-shadow;
  background-color: $main-darkgray;

  color: white;
  text-transform: uppercase;

  line-height: 45px;
  text-align: center;
  vertical-align: middle;
}

// Dashboard Cover ///////////////////////////////////////////////////////
.dash_cover {
  position: relative;
  height: 450px;
  width: 100%;
  background-color: $main-darkblue;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  .cover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    font-size: $h2-fontsize;
    letter-spacing: $letter-space;

    .stats-container {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 30px;
      margin-right: 30px;

      .followers,
      .hacker-points {
        display: inline-block;
        color: white;
        padding: 5px 15px;
        vertical-align: middle;
      }

      .hacker-points {
        background-color: $accent-green;
        @include border-radius;
      }

      .followers::after {
        content: ' Followers'
      }

      .hacker-points::after {
        content: ' HP'
      }
    }

    .cover-summary {
      color: white;
      width: 400px;
      height: 100%;
      position: relative;
      padding-left: 45px;

      .personal-info {
        line-height: 2rem;
        position: relative;
        top: 0;

        .personal-name {
          @include roboto-font(500);
          font-size: $h1-fontsize;
          text-transform: uppercase;
        }
      }

      .skill-chips {
        position: absolute;
        bottom: 0;
        font-size: $p-fontsize;

        .skill-chip {
          border-radius: 30px;
          border: 1px solid white;
          padding: 5px 15px;
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// Dashboard Content /////////////////////////////////////////////////////
.dash_content {
  display: block;
  height: auto;
  
  .dash_sidebar {
    width: 45px;
    height: 100%;
    background-color: $main-darkblue;
  }

  .dash_tabs {
    height: 45px;
    width: calc(100% - 45px);
    background-color: white;
    @include navbar-shadow;
    float: right;
  }
}
