@import "_variables";
@import "_mixins";

.container {
  position: absolute;
  width: 100%;
}

// Dashboard Cover ///////////////////////////////////////////////////////
.dash_cover {
  position: relative;
  height: calc(#{$cover-height} + #{$navbar-height});
  width: 100%;
  background-color: $main-darkblue;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  .cover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $padding-amount;
    font-size: $h2-fontsize;
    letter-spacing: $letter-space;

    .stats-container {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: calc(#{$margin-size} + #{$navbar-height});
      margin-right: $margin-size;

      .followers,
      .hacker-points {
        display: inline-block;
        color: white;
        padding: $buttonlike-padding;
        vertical-align: middle;
      }

      .hacker-points {
        background-color: $accent-green;
        border-radius: $border-radius;
      }

      .followers::after {
        content: ' Followers'
      }

      .hacker-points::after {
        content: ' HP'
      }
    }

    .cover-summary {
      color: white;
      width: 400px;
      height: 100%;
      position: relative;
      padding-left: 45px;

      .personal-info {
        line-height: $display-lineheight;
        position: relative;
        top: $navbar-height;

        .personal-name {
          @include roboto-font(500);
          font-size: $h1-fontsize;
          text-transform: uppercase;
        }
      }

      .skill-chips {
        position: absolute;
        bottom: 0;
        font-size: $p-fontsize;

        .skill-chip {
          border-radius: 30px;
          border: 1px solid white;
          padding: $buttonlike-padding;
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

// Dashboard Content /////////////////////////////////////////////////////
.dash-content {
  display: table;
  width: 100%;
  background-color: #F7F7F7;

  .dash-sidebar {
    display: table-cell;
    width: $sidebar-width;
    height: 100%;
    background-color: $main-darkblue;

    .sidebar-button {
      height: $sidebar-width;
      width: $sidebar-width;
      position: relative;
      display: table;
      cursor: pointer;
    }
  }

  .tab-content {
    padding: $padding-amount;

    .profile-content {
      line-height: $display-lineheight;

      .profile-headline {
        font-size: $title-fontsize;
        color: $accent-green;
        @include roboto-font(700);
        margin-bottom: $margin-size;

        .profile-hp,
        .profile-ranking {
          display: inline-block;
        }

        .profile-ranking {
          padding: $buttonlike-padding;
        }

        .profile-hp::after {
          content: ' HP';
        }
      }

      .profile-about {

        .profile-title {
          font-size: $h1-fontsize;
          @include roboto-font(700);
          margin-bottom: 4px;
        }

        .profile-location,
        .profile-interest {
          font-size: $h2-fontsize;
        }

        .profile-title::before {
          content: 'Currently ';
        }

        .profile-location::before {
          content: 'Based in ';
        }

        .profile-interest::before {
          content: 'Interested in ';
        }
      }
    }
  }
}

tr {
  color: $font-gray !important;
  cursor: pointer;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}
