@import '_variables';
@import '_mixins';

body {
  margin: 0;
  @include roboto-font(300);
}

.title {
  @include raleway-font(600);
  letter-spacing: $letter-space;
  font-size: 16px;
}

.accent-font {
  @include roboto-font(500);
}

.normal-font {
  @include roboto-font(300);
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $medium-gray;
  // outline: 1px solid slategrey;
}
