@import "_variables";
@import "_mixins";

.sesh-container {
  width: 100%;
  height: calc(100% - #{$navbar-height});
  overflow: hidden;
  position: fixed;

  .sesh-col {
    display: inline-block;
    height: 100%;
    width: calc(50% - (#{$video-sidebar-width} / 2));
    overflow: hidden;

    .sesh-editor,
    .sesh-compiler,
    .sesh-video,
    .sesh-chat {
      height: calc((100vh - #{$navbar-height}) / 2);
      outline: 1px solid $border-gray;
    }
  }
}
