@import "_variables";
@import "_mixins";

.chat-container {
  width: 100%;
  height: 100%;
  background: $light-gray;
  position: relative;

  .reply-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $navbar-height;
    border: 1px solid $border-gray;
    background: white;
    @include chat-input-shadow;

    .attachment-button {
      height: 100%;
      width: $navbar-height;
      float: left;
      background: $border-gray;
    }

    .reply-input {
      float: right;
      width: calc(100% - 50px);
      padding: 10px;
    }
  }
}
