@import "_variables";
@import "_mixins";

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $medium-gray;
}

.chat-container {
  width: 100%;
  height: 100%;
  background: $light-gray;
  position: relative;

  .reply-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $navbar-height;
    background: white;
    @include chat-input-shadow;

    .attachment-button {
      height: 100%;
      width: $navbar-height;
      float: left;
      background: $border-gray;
      position: relative;
      cursor: pointer;
    }

    .reply-input {
      float: right;
      width: calc(100% - #{$navbar-height});
      height: 100%;

      input, textarea {
        @include roboto-font(400);
        font-size: $p-fontsize;
        vertical-align: middle;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        padding: 15px;
        border: 0;
        outline: 0;
        resize: none;
      }
    }
  }

  .chat-message-container {
    position: absolute;
    width: calc(100% - (2 * #{$padding-amount}));
    height: calc(100% - (2 * #{$padding-amount}) - #{$navbar-height});
    overflow-y: auto;
    padding: $padding-amount;

    .message-container {
      position: relative;
      width: 100%;
      padding-bottom: 10px;

      .message-bubble {
        @include message-bubble-shadow;
        position: relative;
        max-width: $message-width;

        .message-bar {
          position: absolute;
          height: 100%;
        }

        .message-text {
          @include roboto-font(300);
          color: $font-gray;
          padding: 10px;
          font-size: $small-fontsize;
          line-height: $chat-lineheight;
        }
      }

      .message-preview-container {
        position: relative;
        width: 30%;
        float: right;
      }
    }

    .message-container.left {

      .message-bubble {
        display: inline-block;
        min-height: $navbar-height;

        .message-bar {
          width: $navbar-height;
          background-color: $accent-red;
          min-height: $navbar-height;

          .message-picture {
            width: $navbar-height;
            height: $navbar-height;
            background-repeat: no-repeat !important;
            background-size: cover !important;
          }
        }

        .message-text {
          margin-left: $navbar-height;
          width: calc(100% - #{$navbar-height} - 20px);
        }
      }


      .message-preview-container {

        .message-preview {

        }
      }
    }

    .message-container.right {
      display: flex;
      justify-content: flex-end;

      .message-bubble {

        .message-bar {
          right: 0;
          width: $chatbar-width;
          background-color: $accent-lightblue;
        }

        .message-text {
          margin-right: $chatbar-width;
          width: calc(100% - $chatbar-width - 20px);
        }
      }

      .message-preview-container {

        .message-preview {

        }
      }
    }
  }
}
