@import "_variables";
@import "_mixins";

.video-container {
  width: 100%;
  height: 100%;
  background: black;
  position: relative;
  overflow: hidden;

  .video-buttons {
      position: absolute;
  }
  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
  }

  .error-message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $padding-amount;
    color: white;
  }

  .sesh-video-sidebar {
    display: table-column;
    width: $video-sidebar-width;
    background-color: $main-darkgray;
    position: fixed;
    right: 0;
    height: 100%;
    z-index: 100;
    overflow: hidden;

    .video-thumbnail {
      display: block;
      width: 100%;
      height: 75px;
      position: relative;

      .video-user-picture {
        display: block;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        @include absolute-center;
        @include background-picture-attachment;
      }
    }
  }
}
