@import "_variables";
@import "_mixins";

.sesh-container {
  display: table;
  width: 100%;
  height: calc(100% - #{$navbar-height});
  overflow: hidden;

  .sesh-col {
    display: table-cell;
    // outline: 1px solid $border-gray;
    height: calc(100% - #{$navbar-height});
    width: calc(50% - 50px);
    overflow: hidden;

    .sesh-editor,
    .sesh-compiler,
    .sesh-video,
    .sesh-chat {
      height: calc((100vh - #{$navbar-height}) / 2);
      outline: 1px solid $border-gray;
    }
  }
}

.sesh-video-sidebar {
  display: table-cell;
  width: 100px;
  background-color: $main-darkgray;
}
