@import "_variables";
@import "_mixins";

.video-container {
  width: 100%;
  height: 100%;
  background: $main-darkblue;
  position: relative;

  .video-buttons {
      position: absolute;
  }

  .error-message,
  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
  }

  .error-message {
    padding: $padding-amount;
    color: white;
  }
}
